# Build and publish
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Logs
*.log

# Secrets
appsettings*.json

# Don’t ignore the example config file
!appsettings.Development.json
!appsettings.Example.json

# Other
node_modules/
wwwroot/lib/
